img {
  width: 450px;
}

.list-item {
  margin: 1rem;
  max-width: 500px;
}

.instruction {
  margin-top: 0.5rem !important;
}

.ingridents {
  margin-top: 0.5rem !important;
}

.img-container {
  text-align: center;
}
