.cocktail-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem 0px;
  grid-template-areas:
    "app-title app-title app-title app-title app-title "
    "side-bar side-bar cocktail-list cocktail-list cocktail-list";
}

.app-title {
  grid-area: app-title;
}
.side-bar {
  grid-area: side-bar;
}
.cocktail-list {
  grid-area: cocktail-list;
}

@media only screen and (max-width: 768px) {
  .cocktail-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "app-title app-title app-title app-title app-title app-title app-title"
      "side-bar side-bar side-bar side-bar side-bar side-bar side-bar"
      "cocktail-list cocktail-list cocktail-list cocktail-list cocktail-list cocktail-list cocktail-list";
  }
}
