.cocktail-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem 0px;
  grid-template-areas: "side-bar side-bar cocktail-list cocktail-list cocktail-list";
  margin-top: 4rem;
}

.side-bar {
  grid-area: side-bar;
}
.cocktail-list {
  grid-area: cocktail-list;
  min-height: 350px;
}

@media only screen and (max-width: 768px) {
  .cocktail-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5rem 0px;
    grid-template-areas:
      "side-bar side-bar side-bar side-bar side-bar side-bar side-bar"
      "cocktail-list cocktail-list cocktail-list cocktail-list cocktail-list cocktail-list cocktail-list";
    margin-top: 1rem;
  }

  .cocktail-list {
    min-height: 200px;
  }
}
